* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 20%,
        #D8DBD5 20%
    );
}

#app {
    height: 550px;
    width: 70%;
    background-color: white;
    display: flex;
}

.user_bar {
    height: 100%;
    width: 35%;
}

.user {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.user img {
    width: 20%;
}

.emoticon {
    display: flex;
}

.emoticon i {
    padding-inline: 5px;
    color: gray;
}

.notification {
    background-color: #8EDAFC;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.txt {
    font-size: .7rem;
    padding-left: 2rem;
}

.bell {
    padding-left: 1rem;
}

.scroll {
    overflow-y: scroll;
    height: 60%;
}

.scroll .chat_users.active {
    background-color: #009688;
    cursor: pointer;
}

.img_avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;

}

.img_avatar img {
    width: 15%;
    border-radius: 50%;
}

.txt_avatar {
    padding-top: .4rem;
    display: flex;
    position: relative;
}

.name {
    font-size: .7rem;
    padding-left: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.date {
    font-size: .4rem;
}

.last_msg {
    font-size: .5rem;
    position: absolute;
    bottom: 0;
    left: 3.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
}

.chat_bar {
    background-image: url("img/mine.jpg");
    height: 100%;
    width: 65%;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.chat_head {
    height: 5rem;
    background-color: white;
    display: flex;
    align-items: center;
}

.chat_head img {
    width: 10%;
    border-radius: 50%;
}

.msg {
    height: calc(100% - 6rem);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.msg .chat {
    border-radius: 5px;
    text-align: center;
    margin: 1rem;
}

.msg .chat i {
    padding-inline: .5rem;
    cursor: pointer;
}

.msg .green {
    background-color: #4af805b9;
    align-self: end;
    padding: .5rem;
    
}

.msg .white {
    background-color: white;
    align-self: start;
    padding: .5rem;
}

.chat_text {
    font-size: .8rem;    
}

.chat_date {
    font-size: .5rem;
}

.controls {
    background-color: white;
    height: 1rem;
}

.controls i {
    padding-inline: .5rem;
}

.controls input {
    width: 80%;
}

.controls .dropdown-menu span {
    cursor: pointer;
}

.controls .emoji {
    width: 1rem;
}

.controls .attach {
    background-color: transparent;
    border: 0;
    min-width: 0 !important;
}

.controls .attach .icons_container {
    padding: .5rem;
    border-radius: 2rem;
    margin-bottom: .5rem;
    aspect-ratio: 1 / 1;
}

.controls .attach .icons_container i {
    vertical-align: middle;
    font-size: 1.2rem;
    color: white;
}